@import "../../STYLING/colors";
@import "../../STYLING/global_rules";
//
.homeContainer{
    margin-top: 50px;
    @include columns;
    gap: 30px;
    .homeTitle{
        width: 100%;
        width: 1024px;
        font-size: 20px;
    }
}