@import "../../STYLING/colors";
@import "../../STYLING/global_rules";
//
.searchItem{
    display: flex;
    gap: 20px;
    border: 1px solid lightgray;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    justify-content: space-between;
    .siImg{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    .siDesc{
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 2;
        .siTitle{
            color: $secondColor;
            font-size: 20px;
        }
        .siDistance{
            font-size: 14px;
        }
        .siTaxiOp{
            font-size: 14px;
            background-color: $fColor;
            color: white;
            padding: 4px 12px;
            width: fit-content;
            border-radius: 5px;
        }
        .siSubtitle{
            font-size: 14px;
            font-weight: bold;
        }
        .siFeatures{
            font-size: 14px;
        }
        .siCancelOp{
            color: $fColor;
            font-size: 14px;
            font-weight: bold;
        }
        .siCancelOpSubtitle{
            color: $fColor;
            font-size: 14px;
        }
    }
    .siDetails{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .siRating{
            display: flex;
            justify-content: space-between;
            &>span{
                font-weight: 500;
            }
            button{
                @include btn;
                background-color: $mainColor;
                color: white;
                padding: 3px;
                border-radius: 3px;
                font-weight: bold;
            }
        }
        .siDetailTexts{
            text-align: right;
            display: flex;
            flex-direction: column;
            gap: 5px;
            .siPrice{
                font-size: 24px;
            }
            .siTaxOp{
                font-size: 14px;
                color: gray;
            }
            .siCheckButton{
                @include btn;
                background-color: $secondColor;
                color: white;
                font-weight: bold;
            }
        }
    }
}