@import "../../STYLING/colors";
@import "../../STYLING/global_rules";
//
.navbar{
    height: 50px;
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    .navContainer{
        width: 100%;
        max-width: 1024px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            font-weight: 500;
        }
        .navItems{
            .navButton{
                margin-left: 20px;
                @include btn;
                background-color: white;
            }
        }
    }
}